<div class="main_component">
    
  <div class="div-flex">
      <table mat-table [dataSource]="dataSource" matSort >
          

          <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
              <mat-cell class="username-cell" *matCellDef="let element">
                  {{element.username}}
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
              <mat-cell class="email-cell" *matCellDef="let element">
                  {{element.email}}
              </mat-cell>
          </ng-container>    

          <ng-container matColumnDef="memberSince">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Member since</mat-header-cell>
              <mat-cell class="member-since-cell" *matCellDef="let element">
                  {{element.memberSince | date:'shortDate'}}
              </mat-cell>
          </ng-container> 

          <ng-container matColumnDef="accessLevel">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Access</mat-header-cell>
              <mat-cell class="name-cell" *matCellDef="let element">
                  {{(element.accessLevel == 3)? 'Admin' : 'User'}}
              </mat-cell>
          </ng-container> 

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
            <mat-cell class="name-cell" *matCellDef="let element">
                <div class="actions-container">
                  <button class="action" [disabled]="(currentUser | async)!.id! === element.id" mat-raised-button color="{{(element.accessLevel == 3)? 'accent' : 'primary'}}" (click)="promoteUser(element)">{{(element.accessLevel == 3)? 'Demote' : 'Promote'}}</button>
                  <button class="action" mat-raised-button color="warn" (click)="deleteUser(element)">Delete</button>
                </div>
            </mat-cell>
        </ng-container> 
          <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
          <!--tr mat-header-row *matHeaderRowDef="columnNames"></tr-->
          <!--tr mat-row *matRowDef="let row; columns: columnNames;" ></tr-->
          <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
          
      </table>
      <mat-paginator [pageSize]="15"></mat-paginator>
  </div>
</div>